*{
  margin:0px;
  padding:0px;
}

.main_navigation_header{
 background-color: #fff;
 display: flex;
 box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
 position: fixed;
 top: 0;
 z-index: 100;
 width: 100%;
 margin-bottom: 10px;
}

.main_logo{
  flex: 5;
}

.main_links{
  flex: 8;
  padding:25px;
}

.main_links a{
  padding-left: 40px;
  color: #1976d2;

   font-size:20px;
  font-weight:330;
  cursor: pointer;
}


.footer_main{
  background-color: #fff;
  padding:20px;
  text-align: justify;
}

.overview_main{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 30px;
  margin-left:40px;
}

.overview_main .subdivisions{
  display: flex;
}

.overview_main .subdivisions .headings{
  display: block;
  padding-left: 30px;
}

.overview_main .subdivisions .headings h1{
  text-transform:uppercase;
  font-size:17px;
  font-weight:600;
}

.awssld__bullets {
  position: absolute;
  bottom: 20px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10 !important;
}

.awssld {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 90px;
  max-width: 100%;
}

.Amenities_main{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-gap: 50px;
  padding-left: 60px;
}

.Amenities_main img{
    border: 1px solid #1976d24b;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.15);
    border-radius: 10%;
    padding: 8px;
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.15);
    background: linear-gradient(to bottom, 
     red 0.3%, rgba(255, 166, 0, 0.274) 0.1% 0.75%, rgba(255, 255, 0, 0.226) 40% 0.6%);
}




.Amenities_main img:hover{
  box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.42);
  cursor:pointer;
}

.subdivisions img{
  border: 1px solid #1976d24b;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.15);
    border-radius: 10%;
    padding: 8px;
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.15);
    background: linear-gradient(to bottom, 
     red 0.3%, rgba(255, 166, 0, 0.274) 0.1% 0.75%, rgba(255, 255, 0, 0.226) 40% 0.6%);
}

.subdivisions img:hover{
  box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.42);
  cursor:pointer;
}

.pricing{
  display:grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 30px;
}


.box:not(:last-child) {
   margin-bottom: 0rem !important;
}

.table tr.is-selected th {
 text-align:center !important;
}

table td:not([align]), table th:not([align]) {
  text-align: center !important;
}

.galleryImages{
 display: grid;
 grid-template-columns:6fr 6fr;
 grid-gap: 20px;
}

.masterplan_main{
  display: grid;
  grid-template-columns: 8fr 4fr;
}
.galleryfirstcontainer{
  border-right: 1px solid #eee;
}

.galleryImages img{
  border-radius: 2px;
  padding:0px;
  height:200px; 
}


.galleryImages img:hover{
  border-radius: 2px;
  padding:0px;
  height:200px;
  cursor: pointer;
}

.images-in-grid{
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap:15px;
}

.Location-display{
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.main_Form{
  padding:0px 10px 30px 30px;
}

.label{
  text-align: justify;
}

.clicktoknowbutton:hover{
  cursor: pointer;
}

.styles_modal__gNwvD {
  max-width: 800px;
  position: relative;
  padding: 0.2rem;
  width: 395px;
  border-radius: 20px;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
 
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  padding-left: 40px;
  color: #1976d2;
  font-size: 21px;
  font-weight: 380;
  cursor: pointer;
}

.main_logo1{
  height: 64px;
  margin: 5px 0px;
}


.show-nav {
  height: 270px;
}

.criticalcss img{
  position: relative;
}

.tabelbutton{
  padding: 4px;
  border:1px solid #1976d2;
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  color:#fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabelbuttonabcd{
  padding: 6px 10px;
  border:1px solid #1976d2;
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  color:#fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabelbuttonabcde{
  padding: 6px 20px 9px 20px;
    border: 1px solid #418dd8;
    background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.1);
  border-radius: 3px;
  color:#fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.criticalcss a{
    position: absolute;
    margin-top: -126px;
    margin-left: -48px;
    padding: 6px;
    border:1px solid #1976d2;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 2px;
    font-weight: 600;
    color:#fff;
    cursor: pointer;
    box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.criticalcss button :hover{
  transform: translateY(-1px);
}

.finaltouch a:hover{
  text-decoration: underline;
  color:#fff !important;
}


.popup{
  left: 0;
  position: fixed;
  top: 20%;
  transition: left .5s ease;
  z-index:1000;
}

.popupps{
  left: 0;
  position: fixed;
  top: 55%;
  transition: left .5s ease;
  z-index:1000;
}

.popup-content {
  background: linear-gradient(to right, #9494e6, #5fd8e8);  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  float: left;
  height: 190px;
  padding: 10px;
  width: 275px;
  font-size: 12px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
}

.closepopup{
  left: -275px;
}


@keyframes example {
  from {background-color: rgba(109, 109, 235);}
  to {background-color: rgba(255, 166, 0);}
  0%, 100% {
    bottom: 0;
  }
  50% {
    padding-top: 12px;
  } 
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 360px;
    margin: 1.75rem auto;
}
}

a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: underline;
}
a.button:hover{
  text-decoration: underline;
}

.button::after{
    font-family: 'FontAwesome';
    writing-mode: "tb-rl";
    content: '\f0a9';
    text-decoration: underline;;
    color: white !important;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;     
}

.button-closed::after{
     font-family: 'FontAwesome';
    content: '\f0a8';
    color: white !important;
    cursor: pointer;
    font-size: 1.2em;
}

.buttonps{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 110px;
  padding-top: 0.6rem;
  padding-right: 2px;
  width: 33px;
  font-weight: 500;
  color: #fff !important;
  font-size: 15px;
  line-height: 15px;
  writing-mode: tb-rl !important;
  animation: example 2s linear infinite;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.09);
}




.buttonps::after{
  font-family: 'FontAwesome';
  content: '\f0a9';
  text-decoration: underline;;
  color: white !important;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px;
  border: none;
 }

 .button-closed1::after{
  font-family: 'FontAwesome';
    content: '\f0a8';
  color: white !important;
  cursor: pointer;
  font-size: 1em;
  border: none;
}


@media screen and (min-width: 1024px)
{
.navbar {
    min-height: 3.15rem;
    height: 78px;
}
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 15rem;
  }
  .nav-links a {
    margin: 0 1.3rem;
    padding: 22px 0;
  }
}

@media all and (max-width:600px){
  .overview_main {
    grid-template-columns: 12fr;
    grid-gap: 0px 10px;
    margin-left: 20px;
}

.MuiBox-root-98 {
  padding: 24px 0px !important;
}

.styles_modal__gNwvD {
    top: 0px;
}
.subdivisions img {
  border: 1px solid #eee;
  border-radius: 10%;
  padding: 8px;
  background: linear-gradient(to bottom, 
  red 0.3%, rgba(255, 166, 0, 0.274) 0.1% 0.75%, rgba(255, 255, 0, 0.226) 40% 0.6%);
}

.subdivisions img:hover {
  box-shadow: none;
  cursor: pointer;
}
 .overview_main .subdivisions{
   padding-bottom: 15px;
 }

 .galleryImages {
  display: block;
 }
  .pricing {
    display: grid;
    grid-gap: 10px;
    margin: 0px 10px;
    grid-template-columns: 1fr;
}
.MuiBox-root-99 {
  padding: 24px 0px !important;
}

.pricing .box{
  margin-bottom: 1.5rem !important;
}

.Amenities_main {
  display: grid;
  grid-template-columns: 6fr 4fr;
  padding-left: 32px;
  grid-gap: 21px;
}

.Location-display {
  display: block;
}

.nav-header {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
}

.nav-links a {
  display: block;
  padding-left: 21px;
  color: #1976d2;
  font-size: 20px;
  font-weight: 330;
  cursor: pointer;
  padding-bottom: 9px;
}
.table.is-narrow td, .table.is-narrow th {
  padding: 0.1em 0.1em !important;
}



#border{
  border-right: none !important;
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 30px;
}
#border2{
  border-right: none !important;
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-right: 0px !important;
}
#border3{
  border-right: none !important;
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 30px;
  padding-right: 0px !important;
  padding-bottom: 30px;
}
.main_Form {
  padding: 10px;
}

.styles_modal__gNwvD {
  top:0px;
}
#iframe{
  padding-right:0px !important;
}
}

